@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

* {
  box-sizing: border-box;
}

th {
  background-color: #212529 !important;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

td.view-count {
  text-align: right;
}

td.transcoding {
  text-align: center;
}

td {
  font-size: 14px;
}