@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

* {
  box-sizing: border-box;
}

a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
  cursor: pointer;
}

th {
  background-color: #212529 !important;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

td.rating {
  text-align: right;
}

td.genre {
  text-align: center;
}

td {
  font-size: 14px;
}

p.actorsDialog {
  font-size: 14px;
}

p.actorsDialog span {
  font-size: 14px;
  font-weight: bold;
}